<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geoloqi.android.sample"
    android:versionCode="1"
    android:versionName="1.0">
    
    <!-- Build target -->
    <uses-sdk android:minSdkVersion="5" />
    
    <!-- Permissions required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <!-- NOTE: This permission should not be included for most production applications. -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    
    <application
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".receiver.SampleReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.geoloqi.android.sdk.action.LOCATION_CHANGED" />
            </intent-filter>
        </receiver>
        
        <!-- Geoloqi SDK services and activities -->
        <service
            android:name="com.geoloqi.android.sdk.service.LQService"
            android:exported="false" />
        <activity
            android:name="com.geoloqi.android.sdk.ui.LQSettingsActivity"
            android:label="@string/app_name" />
    </application>
</manifest>