<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geoloqi.android.sample"
    android:versionCode="1"
    android:versionName="1.0">
    
    <!-- Build target -->
    <uses-sdk android:minSdkVersion="5" />
    
    <!-- Permissions required -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <!-- NOTE: This permission should not be included for most production applications. -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    
    <!-- NOTE: These permissions are required if you wish to enable C2DM support in the Geoloqi SDK. -->
    <permission
        android:name="com.geoloqi.android.sample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.geoloqi.android.sample.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.AuthActivity"
            android:label="@string/app_name" />
        
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name" />
        
        <receiver
            android:name=".receiver.SampleReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.geoloqi.android.sdk.action.TRACKER_PROFILE_CHANGED" />
                <action android:name="com.geoloqi.android.sdk.action.LOCATION_CHANGED" />
                <action android:name="com.geoloqi.android.sdk.action.LOCATION_UPLOADED" />
                <action android:name="com.geoloqi.android.sdk.action.PUSH_MESSAGE_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <!-- Geoloqi SDK services, activities and receivers -->
        <service
            android:name="com.geoloqi.android.sdk.service.LQService"
            android:exported="false" />
        <!-- NOTE: This receiver is required if you wish to enable C2DM support in the Geoloqi SDK. -->
        <receiver
            android:name="com.geoloqi.android.sdk.receiver.LQDeviceMessagingReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.geoloqi.android.sample" />
            </intent-filter>
        </receiver>
    </application>
</manifest>