# Your Geoloqi client ID (required)
client_id=my_client_id

# Your Geoloqi client secret (required)
client_secret=my_client_secret

# Your GCM sender ID. This is required for push
# messaging to work!
gcm_sender_id=0000000001

# The name of the drawable to be displayed with incoming push
# notifications. The image must be located in one of your
# res/drawable folders. Do not include the file extension here.
# The SDK must be able to find a valid status bar icon or push
# messages will fail!
push_icon=ic_stat_notify
